<p id="notice"><%= notice %></p>

<p>
  <strong>Ac no:</strong>
  <%= @account.ac_no %>
</p>

<p>
  <strong>Ac type:</strong>
  <%= @account.ac_type %>
</p>

<p>
  <strong>Opening date:</strong>
  <%= @account.opening_date %>
</p>

<p>
  <strong>Closing:</strong>
  <%= @account.closing_date %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @account.balance %>
</p>

<p>
  <strong>Status:</strong>
  <%= @account.status %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
